@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
  font-size: 18px;
  --accent-color: rgb(88, 128, 162);
  --gold-color: rgb(188, 166, 128);
}

body {
  min-height: 100vh;
}

/* MAIN WRAPPER */
.wrapper {
  display: grid;
  grid-auto-flow: row;
}

.wrapper > *:not(.confirmation) {
  /* height: 25vh; */
  /* background-color: beige; */
}

/* MAIN WRAPPER */

/* Hero */

/* Hero */

/* Protagonists photo */

/* Protagonists photo */

/* Info-cards */

.info-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playball', cursive;
}

.card h1 {
  color: #5880a2;
  font-family: 'Alex Brush', cursive;
  font-size: 32px;
  font-weight: 100;
  padding-top: 20px;
}

.card,
.card,
.card {
  width: 300px;
  height: 600px;
  line-height: 30px;
  margin-right: 20px;
  text-align: center;
  color: #bca680;
  font-size: 20px;
  border-style: solid;
  border-width: 8px;
  border-image: linear-gradient(50deg, #bca680, #5880a2);
  border-image-slice: 1;
  box-shadow: 0 0 35px 0 rgb(0 0 0 / 19%);
  padding: 25px;
}

img.main {
  border-radius: 50%;
  margin: auto;
  display: block;
}

iframe {
  width: 100%;
  margin: 0;
}
/* Info-cards */

/* Godparents and parents */

/* Godparents and parents */

/* Contact Form */
.confirmation,
.confirmation * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility classes  */

h1,
h2,
h3,
h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.125rem;
  color: var(--gold-color);
}

.confirmation .cursive {
  font-family: 'Playball', cursive;
}

.confirmation .golden {
  color: var(--gold-color);
}

.confirmation .rounded {
  border-radius: 0.3rem;
}

.confirmation .golden-border {
  border: 1px solid var(--gold-color);
}

.confirmation .input,
.confirmation .select {
  appearance: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.75);
}

.confirmation .input:focus,
.confirmation .select:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px var(--gold-color);
}

.confirmation .option {
  background-color: inherit;
  stroke-opacity: 0;
}

.confirmation .button {
  height: 2.25rem;
  appearance: none;
  font-size: 1.4rem;
  color: white;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
}

.confirmation .button:hover {
  background-color: var(--gold-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Utility classes */

.confirmation {
  background: url('./img/contact-bg.png') no-repeat center;
  background-attachment: fixed;
}

.confirmation .section-title {
  width: 100%;
  text-align: center;
  padding: 1.8rem 0;
  font-family: 'Playball', cursive;
  font-size: 1.8rem;
  color: var(--accent-color);
  background-color: white;
}

.contact-form {
  --_gap: 0.66rem;
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--_gap);
  padding: calc(var(--_gap) * 3);
  background-color: rgba(255, 255, 255, 0.6);
}

.contact-form > * {
  flex: 1 1 49%;
}

.contact-form select {
  cursor: pointer;
}

.contact-form h2,
.contact-form p:first-of-type {
  flex-basis: 100%;
  text-align: center;
  padding: var(--_gap);
}

.contact-form h2 {
  text-transform: uppercase;
}

.contact-form span:nth-of-type(-n + 2) {
  display: flex;
  flex-direction: column;
  gap: calc(var(--_gap) - 0.3rem);
}

.contact-form span:nth-of-type(n + 3) {
  flex-basis: 100%;
}

.contact-form textarea {
  flex-basis: 100%;
}

.contact-form input[type='radio'],
.contact-form input[type='radio'] + label {
  cursor: pointer;
}

.contact-form button {
  flex-basis: 100%;
}

/* Contact Form */

/* End-message */

/* End-message */

/* Footer */

/* Footer */
