@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
  font-size: 18px;
  --accent-color: rgb(88, 128, 162);
  --gold-color: rgb(188, 166, 128);
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  min-height: 100vh;
}

/* MAIN WRAPPER */
.wrapper {
  display: grid;
  grid-auto-flow: row;
}

/* MAIN WRAPPER */

/* Hero */
.hero,
.hero * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.elementor-column {
  width: 453;
  height: 167;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementor-img-floating {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  justify-content: center;
  z-index: 2;
  bottom: 200px;
}

.elementor-img {
  width: 452;
  height: 638;
  margin: 16px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

.header2 {
  font-size: 21px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #bca680;
}

.header1 {
  font-size: 81px;
  font-family: 'Kaushan Script', cursive, sans-serif;
  color: #5880a2;
}
/* Hero */

/* Protagonists photo */
.protagonists-photo {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  align-items: center;
}

.protagonists-photo .round-image {
  margin: 0;
}

.protagonists-photo .rounded {
  text-align: center;
  box-sizing: border-box;
  height: auto;
  max-width: 300%;
  vertical-align: middle;
  display: inline-block;
  border-style: double;
  border-color: #5880a2;
  border-radius: 222px 222px 222px 222px;
  width: 90%;
  border-width: 4px 4px 4px 4px;
}

.protagonists-photo .message-1 {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans';
  font-size: 22px;
  font-weight: 400px;
  color: rgb(133, 116, 53);
  height: 100px;
  padding-top: 50px;
  text-align: center;
}

.protagonists-photo .message-2 {
  color: #5880a2;
  font-family: 'Alex Brush', Sans-serif;
  font-weight: 400px;
  text-align: center;
  font-size: 30px;
}

.protagonists-photo .flower-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.protagonists-photo .flower {
  padding: 50px;
  width: 90px;
  height: 60px;
}

.protagonists-photo .element-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: -30px;
}
/* Protagonists photo */

/* Info-cards */

.info-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playball', cursive;
}

.card h1 {
  color: #5880a2;
  font-family: 'Alex Brush', cursive;
  font-size: 32px;
  font-weight: 100;
  padding-top: 20px;
}

.card,
.card,
.card {
  width: 300px;
  height: 600px;
  line-height: 30px;
  margin-right: 20px;
  text-align: center;
  color: #bca680;
  font-size: 20px;
  border-style: solid;
  border-width: 8px;
  border-image: linear-gradient(50deg, #bca680, #5880a2);
  border-image-slice: 1;
  box-shadow: 0 0 35px 0 rgb(0 0 0 / 19%);
  padding: 25px;
}

img.main {
  border-radius: 50%;
  margin: auto;
  display: block;
}

iframe {
  width: 100%;
  margin: 0;
}
/* Info-cards */

/* Godparents and parents */

/* Godparents and parents */

/* Contact Form */
.confirmation,
.confirmation * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility classes  */

.confirmation h1,
.confirmation h2,
.confirmation h3,
.confirmation h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.125rem;
  color: var(--gold-color);
}

.confirmation .cursive {
  font-family: 'Playball', cursive;
}

.confirmation .golden {
  color: var(--gold-color);
}

.confirmation .rounded {
  border-radius: 0.3rem;
}

.confirmation .golden-border {
  border: 1px solid var(--gold-color);
}

.confirmation .input,
.confirmation .select {
  appearance: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.75);
}

.confirmation .input:focus,
.confirmation .select:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px var(--gold-color);
}

.confirmation .option {
  background-color: inherit;
  stroke-opacity: 0;
}

.confirmation .button {
  appearance: none;
  height: 2.25rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.confirmation .button:hover {
  background-color: var(--gold-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Utility classes */

.confirmation {
  background: url('./img/contact-bg.png') no-repeat center;
  background-attachment: fixed;
}

.confirmation .separator-image {
  display: flex;
  justify-content: center;
  background-color: white;
}

.confirmation .section-title {
  padding: 1.8rem 0;
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 1.8rem;
  color: var(--accent-color);
  background-color: white;
}

.contact-form {
  --_gap: 0.66rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-inline: auto;
  justify-content: center;
  gap: var(--_gap);
  padding: calc(var(--_gap) * 3);
  background-color: rgba(255, 255, 255, 0.8);
}

.contact-form > * {
  flex: 1 1 49%;
}

.contact-form select {
  cursor: pointer;
}

.contact-form h2,
.contact-form p:first-of-type {
  flex-basis: 100%;
  text-align: center;
  padding: var(--_gap);
}

.contact-form h2 {
  text-transform: uppercase;
}

.contact-form span:nth-of-type(-n + 2) {
  display: flex;
  flex-direction: column;
  gap: calc(var(--_gap) - 0.3rem);
}

.contact-form span:nth-of-type(n + 3) {
  flex-basis: 100%;
}

.contact-form textarea {
  flex-basis: 100%;
}

.contact-form input[type='radio'],
.contact-form input[type='radio'] + label {
  cursor: pointer;
}

.contact-form button {
  flex-basis: 100%;
}

/* Contact Form */

/* End-message */

/* End-message */

/* Footer */

/* Footer */
